In [1]:
t = (10, 11, 12, 13, 14)
t

(10, 11, 12, 13, 14)

In [2]:
t[0]

10

In [3]:
t[1:3]

(11, 12)

In [4]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [5]:
a = (10,)
print(a)
print(type(a))

(10,)
<class 'tuple'>

In [6]:
a = (10)
print(type(a))

<class 'int'>

In [7]:
a = [10, 11, 12, 13, 14]
tuple(a)

(10, 11, 12, 13, 14)

In [8]:
a.count(10)

1

In [9]:
a.index(12)

2

为什么需要元组：
旧式字符串格式化中参数要用元组；
在字典中当作键值；
数据库的返回值；